@import "_variables.scss";
@import "_mixins.scss";
@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@1,400;1,700&family=Open+Sans:ital,wght@0,800;1,600&display=swap");

* {
  box-sizing: border-box;
}
body {
  height: 1000vh;
  margin-top: 130px;
  font-family: "Noto Serif Display", serif;
}

header {
  width: 100%;
  position: fixed;
  padding: 0 140px;
  top: 0;
  height: 130px;
  display: flex;
  background-color: white;
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    display: flex;
    font-size: 26px;
    text-transform: uppercase;
    li {
      margin-right: 15px;
    }
  }
}

section {
  display: flex;
  padding: 0 140px;
  padding-top: 20px;
  width: 100%;
  margin-bottom: 80px;
  img {
    max-width: 100%;
  }
  .Introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    background-color: #fbf7f6;
    line-height: 38px;
    .Introduction_column {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      button {
        width: 240px;
        height: 50px;
        margin-top: 30px;
        font-size: 16px;
        border: 1px solid #414141;
        background-color: #fbf7f6;
        &:hover {
          background-color: #414141;
          color: white;
        }
      }
    }
  }
}
