@import "_variables.scss";
@import "_mixins.scss";

body {
  background-color: $bg;
}

.Title {
  margin-top: 20px;
  h2 {
    color: aqua;
    &:hover {
      color: black;
    }
  }
  button {
    color: blue;
  }
}
